<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo lList</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id ="heading">
      <h1><%= title %></h1>
    </div>

    <div class="box">
        <% for(let i=0; i<newValue.length; i++){ %>
          <div class="item">
            <input type="checkbox">
            <p> <%= newValue[i] %> </p>
          </div>
        <% } %>

        <form action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="button" value= <%= title %>>+</button>
        </form>
    </div>


  </body>
</html>
